---
import AboutImage from '@components/AboutImage.astro'
import Experience from '@components/Experience.astro'
import Layout from '@layout/Layout.astro'
---

<Layout
  pageTitle="About"
  description="I am Gerrit, a self-taught web developer from Germany. I strive to create exceptional work and love to express my creativity through code. I believe that persistency is the key to success, even though life looks impossible sometimes."
  type="content"
>
  <main class="px-8">
    <AboutImage />

    <Experience />
  </main>
</Layout>
